/*************************************************************\
  Globals
\*************************************************************/

.btn-platzi {
  background-color: #97c93e;
  color: white;
  &:hover {
    background-color: #72ad0c;
    color: rgb(248, 239, 239);
  }
}